@import "tailwindcss";

@theme {
  --color-brand-bg: white;
  --color-brand-dark: #1A1A1A;
  --color-brand-accent: #EAE3DC;
  
  --font-sans: "Arial", sans-serif;
  --font-mono: "Arial", sans-serif;
  --font-serif: "Arial", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-brand-bg);
    color: var(--color-brand-dark);
  }
}
